@charset "UTF-8";

        body {
            background-color: lightsteelblue;
            font-family: arial;
            font-size: 20px;

        }

        h1 {
            color: blue;
            background-color: dodgerblue;
        }

        h2 {
            color:red;
        }

        p {
            text-align: justify;
        } 